.vs/
obj/
bin/
/.idea/.idea.MiniCactpotSolver/.idea/.gitignore
/.idea/.idea.MiniCactpotSolver/.idea/.name
/.idea/.idea.MiniCactpotSolver/.idea/encodings.xml
/.idea/.idea.MiniCactpotSolver/.idea/indexLayout.xml
/.idea/.idea.MiniCactpotSolver/.idea/vcs.xml
/MiniCactpotSolver.sln.DotSettings.user
/global.json
